@media only screen and (max-width: 1068px) {
    nav ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .flex-center {
        flex-direction: column;
        align-items: center;

    }

    nav ul li a {
        text-align: center;
    }



    .burger {
        display: block;
    }

    .img-liq {
        position: relative;
        top: -839px;
        left: 273px;
        margin: auto;
        margin-bottom: 200px;
        margin: 0px 10vw 0px 15vw;
    }

    .img {
        /* max-width: 40vw; */
        max-width: 260px;
        margin: auto;
        /* right: 28vw;
        top: 14vh; */

    }

    .liquid-img {
        /* max-width: 58.2vw;   */
       max-width:400px;
        margin: auto;
        /* top: 94px;
        right: 81px; */

    }
    .column-resp{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-around; */

    }

 

    .name-title {
        width: 272px;
        /* width: 272px ; */
        margin-top: 20px;
        font-size: 20px;
    }

    .role-title {
        font-size: 30px;
    }
    .left-main{
     
        position: relative;
        top: -590px;
        left: -259px;
    }

    .about-me-btn {
        margin-top: 54px;
        width: 200px;
        /* width: 200px; */
    }

    .white-img {
        height: 200px;
        width: 300px;
    }

    .bg {
        display: none;
    }

    .bg2 {
        display: block;
        height: 74vh;
        width: 100vw;

    }

    .v-class {
        visibility: hidden;
    }
    body{
        width: 100vw;
    }
 





}
